{# Category Layout Template for Menu Items.  Note - these provide access to the "category" variable of the currently active page.  If reusing this code elsewhere, you must manually get the menuCategory using craft.categories.group('menuType')} #}

{% extends "_layout" %}
{% block content %}

{# Food Menu #}
  {# Get the entries in the food section #}
  {% set entries = craft.entries.section('ourProducts') %}
  <h1>{{ category.title}} Menu</h1>



  <h2>Food</h2>
  {# Loop first through the food categories and print the cat title #}
  {% for prodtype in craft.categories.group('productType').relatedTo() %}
    {% set products = entries.relatedTo([
      'and',
      { targetElement: category },
      { targetElement: prodtype }
    ]) %}
      {% if products | length %}
      <h3>{{ prodtype.title }}</h3>
      {% endif %}
      <ul>
      {# Loop through each entry belong to the current category and also related to the food category #}
      {% for product in products %}
          {% if food.title | length %}
          <li>{{ product.title }}</li>
          <ul>
            <li>{{ product.foodDescription }}</li>
            <li>${{ product.foodPrice }}</li>

          </ul>
          {% endif %}
      {% endfor %}
      </ul>
  {% endfor %}

<hr>

{# Drink Menu - same as Food Menu with different sections #}
{% set entries = craft.entries.section('drinks') %}
<h2>Drinks</h2>
{% for drinkcat in craft.categories.group('drinkCategory') %}
{% set beverages = entries.relatedTo([
  'and',
  { targetElement: category },
  { targetElement: drinkcat }
]) %}

  {% if beverages | length %}
  <h3>{{ drinkcat.title }}</h3>
  {% endif %}
  <ul>
    {% for beverage in beverages %}
        {% if beverage.title | length %}
        <li>{{ beverage.title }}</li>
        <ul>
          <li>{{ beverage.foodDescription }}</li>
          <li>${{ beverage.foodPrice }}</li>

        </ul>
        {% endif %}
    {% endfor %}

  </ul>
{% endfor %}
{% endblock %}
