<footer role="contentinfo">
<div class="footer__top footer__top--short"><span class="footer__top__diamond"></span></div>
<div class="footer__flex">
  <div class="footer__logo">
    {% for asset in footer.logo %}
      <h3><img src="{{ asset.url }}" alt="DuraEdge" class="footer__logo__img"/></h3>
    {% endfor %}
    <address class="footer__address">
      <p class="address__first">{{ footer.address }}</p>
      <p class="address__second">{{ footer.address2 }}</p>
    </address>
  </div>
  <div class="footer__contact">
    <dl class="footer__contact__list">
      {% for block in footer.footerContact %}
        {% if block.type == "contactBlock" %}
          <dt class="contact__list__title">{{ block.contactName }}</dt>
          <dd class="contact__list__item">{{ block.contactInfo }}</dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
  <div class="footer__social">
    <dl class="footer__social__list">
      {% for block in footer.socialMedia %}
        {% if block.type == "socialMediaBlock" %}
        <a href="{{block.address}}">
          <dt class="social__list__name">{{ block.socialName }}</dt>
          <dd class="social__list__link">{{ block.socialName }}</dd>
        </a>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
</div>
<div class="footer__copyright">
  <p class="footer__copyright__text">{{footer.copyright}}</p>
</div>
</footer>



{# Required Scripts and CSS References #}
<link href="https://fonts.googleapis.com/css?family=Lobster|Rokkitt:400,800,900|Saira+Condensed:400,500,700,900" rel="stylesheet">
<link href="{{ siteUrl }}assets/css/style.css" type="text/css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="{{ siteUrl }}assets/js/min/scripts-min.js"></script>
<!-- Google Analytics Code - don't forget to change the UA ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','{{ siteUrl }}assets/js/min/analytics.js','ga');
    ga('create', 'UA-########-#', 'auto');
    ga('send', 'pageview');
  </script>
{% if craft.config.devMode %}
<!-- Live Reload - For local environment only -->
<script src="//localhost:35729/livereload.js"></script>
{% endif %}
