
<!--<a href="{{footer.takeTheNextStep}}">Take The Next Step</a>-->
<div class="footer__flex">
  <div class="footer__logo">
    {% for asset in footer.logo %}
      <h3><img src="{{ asset.url }}" alt="DuraEdge" class="footer__logo__img"/></h3>
    {% endfor %}
    <address class="footer__address">
      <p class="address__first">{{ footer.address }}</p>
      <p class="address__second">{{ footer.address2 }}</p>
    </address>
  </div>
  <div class="footer__contact">
    <dl class="footer__contact__list">
      {% for block in footer.footerContact %}
        {% if block.type == "contactBlock" %}
          <dt class="contact__list__title">{{ block.contactName }}</dt>
          <dd class="contact__list__item">{{ block.contactInfo }}</dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
  <div class="footer__social">
    <dl class="footer__social__list">
      {% for block in footer.socialMedia %}
        {% if block.type == "socialMediaBlock" %}
          <dt class="social__list__name">{{ block.socialName }}</dt>
          <dd class="social__list__link"<a href="{{block.address}}">{{block.socialName }}</a></dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
</div>
<div class="footer__copyright">
  <p class="footer__copyright__text">copyright text S</p>
</div>
