{% set nav = craft.amNav.getNavRaw("primary") %}

{% macro addNodeToNavigation(node, index) %}
    {%- set nodeClasses = [] -%}
    {%- if node.hasChildren -%}
        {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
    {%- endif -%}
    {%- if node.active or node.hasActiveChild -%}
        {%- set nodeClasses = nodeClasses|merge(['active']) -%}
    {%- endif -%}
    {%- if node.level == 1 and index == 1 -%}
        {%- set nodeClasses = nodeClasses|merge(['first']) -%}
    {%- endif -%}
    {%- if node.listClass|length -%}
        {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
    {%- endif -%}

    <li{% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }}"{% endif %}>
        <a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
        {% if node.hasChildren %}
            <ul class="nav__level{{ (node.level + 1) }}">
                {% for subnode in node.children %}
                    {{ _self.addNodeToNavigation(subnode, loop.index) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<header>
  <div class="header__wrapper">
    <a href = '{{siteUrl}}' class="header__logo">
      <picture>
        {% for asset in header.logoLarge %}
          <source srcset="{{ asset.url }}" media="(min-width: 750px)">
        {% endfor %}
        {% for asset in header.logo %}
          <img src="{{ asset.url }}" alt="{{siteName}}" class="header__logo__img"/>
        {%endfor%}
      </picture>
    </a>

    <nav class="header__nav">
      <ul class="header__nav__list">
      {% for node in nav %}
        <li class="nav__list__item">
          <a class="nav__list__link" href="{{ node.url }}">{{ node.name }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>


    {% set secondaryNav = craft.amNav.getNavRaw("secondary") %}
    <nav class="header__secondnav">
      <ul class="header__nav__sublist">
      {% for node in secondaryNav %}
          <li class="nav__sublist__item">
            <a href="{{ node.url }}">{{ node.name }}</a>
          </li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>
