{% extends "_full" %}
{% block subcontent %}

<h2>How can we help you?</h2>
<div class="quiz__landing">
  <div class="quiz__landing__product">
    <h3>
      <a class="quiz__landing__link" href="{{siteUrl}}/quiz/product-quiz.html">
        Find a Product
      </a>
    </h3>
    <p class="quiz__landing__text">
      Not sure what DuraEdge products are
      right for your field? Use our product
      finder tool to see DuraEdge products
      and solutions based on your field type.
    </p>
  </div>
  <div class="quiz__landing__product">
    <h3>
      <a class="quiz__landing__link" href="{{siteUrl}}/quiz/solution-quiz.html">
        Solve a Problem
      </a>
    </h3>
    <p class="quiz__landing__text">
      Have a field with an existing problem?
      Use this tool to diagnose your problem
      from a list of common issues and see
      helpful articles, videos and answers.
    </p>
  </div>


</div>


{%endblock%}
