{% extends "_full" %}
{% block subcontent %}

<h1>Which solution is right for you?</h1>
<p>
  Take our quiz to discover which product will help you to get the most out of your DuraEdge field
</p>
<a href="#">START NOW</a>

<form action="{{ url('our_products/results') }}">
    <div class="select-style">
      <h6>New or Existing:</h6>
    <select name="querySlug3">
      {% for category in craft.categories.group('newOrExisting') %}
      <option value="{{category.slug}}">{{category.title}}</option>
      {% endfor %}
    </select>
  </div>

  <h6>Maintanence Level:</h6>
      <select name="querySlug2">
        {% for category in craft.categories.group('maintenanceLevel') %}
        <option value="{{category.slug}}">{{category.title}}</option>
        {% endfor %}
      </select>
  <h6>Water Access:</h6>
      <select name="querySlug">
          {% for category in craft.categories.group('waterAccess') %}
          <option value="{{category.slug}}">{{category.title}}</option>
          {% endfor %}
      </select>

      <input type="submit" value="Go">
</form>

<!-- Forward declaration of problemQuery so we can dynamically assign values to the checkboxes !-->
{% set problemQuery = craft.request.getParam('ourProducts') %}

<form action="{{ url('our_products/problemResults.html') }}">
    {% for category in craft.categories.group('problemArea') %}
          <label><input type="checkbox" name="ourProducts[]" value="{{ category.slug }}" {{ category.slug in problemQuery ? 'checked' }}> {{category.title}}</label>
    {% endfor %}
    <button type="submit">Search</button>
</form>

<h1>Find the Solution to a Problem</h1>

<form action="{{ url('our_products/results-text.html') }}">
    <input type="text" name="searchQuery" />
    <input type="submit" value="Go">
</form>

{%endblock%}
