{% extends "_split" %}

{% block subcontent %}
    <h2>{{entry.title}}</h2>
    <div class="advantage__body">
      {{entry.body}}
    </div>

    <section class="panel">
      <div class="advantage__blog">
        {% for entry in craft.entries.section('blogPosts').order('RAND()').limit(1)%}
        {% for block in entry.blogPostContent %}
            "{{block.pullQuote}}"
            -{{block.pullQuoteAuthorOptional}}
          {% endfor %}
        {% endfor %}
      </div>
    </section>

    {% include '_includes/diamond.html' %}
    <div class="advantage__classifying">
      <h3>Why Classifying Matters</h3>
      <div class="advantage__body">
        {{entry.duraedgeadvantage}}
      </div>
      <a href="{{url('our_products')}}" class="button__blue margin__center">Learn more about the process</a>
    </div>

  {% include '_includes/diamond.html' %}
  <h3>Learn Something New</h3>



      {% for entry in craft.entries.section('blogPosts').limit(2) %}
    		{% if entry.featuredContent == 1 %}
      			<a href="{{entry.url}}">{{entry.title}}</a>
      	{% endif %}
    	{% endfor %}



  {% include '_includes/diamond.html' %}
  <section class="advantage__faq">
    <h3>FAQ - New Customers</h3>
    <div class="faq__list">
      <ul class="faq__list__ul">
        {% for entry in craft.entries.section('faqs').limit(4) %}
          <li class="faq__list__item">
            <h4><a href="{{entry.url}}">{{entry.title}}</a></h4>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>


    <h1>Quiz Link</h1>
  </section>

{% endblock %}
