{% extends "_split" %}

{% block subcontent %}
    <h2>{{entry.title}}</h2>
    <div class="advantage__body">
      {{entry.body}}
    </div>

      <div class="variable__body">
          {% for block in entry.blogPostContent %}
            {% if block.type == "pullQuote" %}
              <section class="panel">
                <div class="home__block">
                  <div class="matrix__block">
                    <p>"{{block.pullQuote}}""</p>
                    <p>-{{block.pullQuoteAuthor}}</p>
                  </div>
            {% elseif block.type == "image" %}
              {% for asset in block.image %}
                <img src="{{asset.getUrl()}}" alt="{{asset.title}}"/>
              {% endfor %}
                </div>
              </section>
              {% elseif block.type == "text" %}
                <div class="spacer2"></div>
                <div class="variable__body__text">
                  {% include '_includes/diamond.html' %}
                  {{block.text}}
                </div>
              {% elseif block.type =="button" %}
                <a class="button__blue" href="#">{{ block.buttonText }}</a>
            {% endif %}
          {% endfor %}
          </div>

  <h3>Learn Something New</h3>
    {% for entry in craft.entries.section('blogPosts').limit(2) %}
  		{% if entry.featuredContent == 1 %}
    			<a href="{{entry.url}}">{{entry.title}}</a>
    	{% endif %}
  	{% endfor %}

<div class="spacer2"></div>
<div class="diamond__container">
  {% include '_includes/diamond.html' %}
  <section class="advantage__faq">
    <h4 class="diamond__spacer">FAQ - New Customers</h4>
    <div class="faq__list togglebox">
      <ul class="faq__list__ul">
        {% set counter = 1 %}
        {% for entry in craft.entries.section('faqs').limit(4) %}

              <li class="faq__list__item">
              <input id="toggle{{counter}}" type="checkbox" name="toggle" />
                <label for="toggle{{counter}}">{{entry.title}}</label>

                <section class="accordion_section" id="content{{counter}}">
                  <p>{{entry.teaser}}</p>
                  <a href="{{entry.url}}"> Read more</a>
                </section>

            </li>
              {% set counter = counter + 1 %}
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

{% for block in entry.linkInfo %}
<a href="{{block.linkUrl}}"> {{block.linkTitle}} </a>
{% endfor %}



</section>

{% endblock %}
