{% extends "_split" %}

{% block subcontent %}
    <h1>{{entry.title}}</h1>
    <p>
      {{entry.body}}
    </p>
    <a href="about-duraedge"> Learn more about us</a>


    <h1>Here's what our customers are saying about DuraEdge: </h1>
    {% for entry in craft.entries.section('testimonials').order('RAND()').limit(1)%}

      <h4>"{{entry.body}}"</h4>
      <h6>-{{entry.title}}</h6>
    {% endfor %}


    <!-- Insert Video !-->
    {% for video in entry.video %}
    <figcaption>{{video.videoName}}</figcaption>
    {{video.videoUrl |videoEmbed }}
    {% endfor %}

    <h1>Blog Posts:</h1>
    	{% for entry in craft.entries.section('blogPosts').limit(2) %}
    		{% if entry.featuredContent == 1 %}
      			<a href="{{entry.url}}"><h1>{{entry.title}}</h1></a>
      	{%endif%}
    	{%endfor%}


    <h1>FAQ</h1>
    <ul>
    {% for entry in craft.entries.section('FAQ') %}
      {% for article in entry.knowledgeLevel %}
        {% if article.title == "Basic" %}
          <li>
            <h4>{{entry.title}}</h4>
            <p>{{entry.body}}</p>

          </li>
          {%endif%}
        {%endfor%}
    {%endfor%}
    </ul>


    <h1>Where do you fit?</h1>
    <a href="our_products">BUILD YOUR FIELD</a>
  </section>

{% endblock %}
