{% extends "_layout" %}

{% block content %}
<h1>Product: -- {{entry.title}}</h1>

<ul>


{% for entry in entry.waterAccessCategory %}
<li>
  Water Access: {{entry.title}}
</li>
{%endfor%}

{% for entry in entry.maintenanceLevelCategory %}
<li>
  Maintanence Level: {{entry.title}}
</li>
{%endfor%}

{% for entry in entry.productType %}
<li>
  Product Type: {{entry.title}}
</li>
{%endfor%}

{% for entry in entry.newOrExisting %}
<li>
  New or Existing: {{entry.title}}
</li>
{%endfor%}


</ul>

<p>
  {{entry.body}}
</p>



{% endblock %}
