{% extends "_layout" %}

{% block content %}

{% for image in entry.image %}
<img src="{{image.url}}" />
{%endfor%}



<h1>Product: -- {{entry.title}}</h1>

<ul>

  {% for block in entry.marketingMaterials %}
      {% for image in block.file %}
        <a href="{{image.getUrl()}}"><h4>{{block.materialName}}</h4></a>
      {% endfor %}
  {% endfor %}


{% for entry in entry.waterAccessCategory %}
<li>
  Water Access: {{entry.title}}
</li>
{%endfor%}

{% for entry in entry.maintenanceLevelCategory %}
<li>
  Maintanence Level: {{entry.title}}
</li>
{%endfor%}

{% for entry in entry.productType %}
<li>
  Product Type: {{entry.title}}
</li>
{%endfor%}

{% for entry in entry.newOrExisting %}
<li>
  New or Existing: {{entry.title}}
</li>
{%endfor%}




</ul>

<p>
  {{entry.body}}
</p>


{% for image in entry.gallery.order('RAND()').limit(1) %}
  <img alt="{{image.title}}" src="{{image.url}}" />
{%endfor%}



{% endblock %}
