{% extends "_full" %}

{% block subcontent %}

{% for image in entry.image %}
<img alt="{{image.title}}"src="{{image.url}}" />
{%endfor%}



<h1>{{entry.title}}</h1>

<ul>

  {% for block in entry.marketingMaterials %}
      {% for image in block.file %}
        <a href="{{image.getUrl()}}"><h4>{{block.materialName}}</h4></a>
      {% endfor %}
  {% endfor %}




<ul>
  {% for row in entry.fieldComposition %}
  <li>
    <h3>Total Sand: {{row.totalSand}}</h3>
  </li>
  <li>
    <h3>Silt/Clay: {{row.siltClay}}</h3>
  </li>
  <li>
    <h3>Medium Sand: {{row.mediumSand}}</h3>
  </li>
  <li>
    <h3>SCR: {{row.scr}}</h3>
  </li>
  {% endfor %}
</ul>

{% for entry in entry.waterAccessCategory %}
<li>
  Water Access: {{entry.title}}
</li>
{%endfor%}

{% for entry in entry.maintenanceLevelCategory %}
<li>
  Maintanence Level: {{entry.title}}
</li>
{%endfor%}

{% for entry in entry.productType %}
<li>
  Product Type: {{entry.title}}
</li>
{%endfor%}

{% for entry in entry.newOrExisting %}
<li>
  New or Existing: {{entry.title}}
</li>
{%endfor%}




</ul>

<p>
  {{entry.body}}
</p>


{% set isRelated = false %}
{% for entry in craft.entries.section('blogPosts', 'videos', 'faqs').relatedTo(entry) %}
    {% if entry | length > 0 %}
      {% set isRelated = true %}
    {% endif %}
{% endfor %}

{% if isRelated == true %}
  <h1>Related Product Information:</h1>
    {% for entry in craft.entries.section('blogPosts', 'videos', 'faqs').relatedTo(entry).limit(3) %}
      <a href="{{entry.url}}"><h4>{{entry.title}}</h4></a>
      <p>{{entry.teaser}}</p>
    {% endfor %}
{% endif %}


{% set count = 0 %}
{% for cat in entry.problemArea %}
    {% if count == 0 %}
        <h2>Typical Problems: </h2>
    {% endif %}
<h3>{{cat.title}}</h3>
  {% set count = count + 1 %}
{% endfor %}

{% set count = 0 %}

{% for cat in entry.typicalSolutions %}
  {% if count == 0 %}
    <h2>Typical Solutions: </h2>
  {% endif %}
<h3>{{cat.title}}</h3>
  {% set count = count + 1 %}
{% endfor %}

{% for image in entry.gallery.order('RAND()').limit(1) %}
  <img alt="{{image.title}}" src="{{image.url}}" />
{%endfor%}



{% endblock %}
