{% extends "_full" %}
{% block subcontent %}

{% set waterCategories = craft.categories.group('waterAccess') %}
{% set maintenanceCategories = craft.categories.group('waterAccess') %}
{% set categories = craft.categories.group('waterAccess') %}


<ul class="tabs">
  <li class="tab-link current-link" data-tab="tab-1">Explore Products</li>
  <li class="tab-link" data-tab="tab-2" class="products__link">Browse All</li>
</ul>

<div id="tab-1" class="tab-content current">

  <div class="products__process">
    {% if entry.process.first()|length %}
      {% set block = entry.process.first() %}
      <div class="process__title">
        <h3>{{ block.processTitle }}</h3>
        <div class="process__inner">
          <p>{{ block.processInformation }}</p>
        </div>
      </div>
    {% endif %}
  </div>

  <section class="panel">
  <div class="products__categories">
    <a class="products__categories__item products__pro" href="#"><p>Professional</p></a>
    <a class="products__categories__item products__int" href="#"><p>Intermediate</p></a>
    <a class="products__categories__item products__rec" href="#"><p>Recreational</p></a>
  </div>
  </section>

  <div class="quiz__intro">
    {% if entry.process.nth(1)|length %}
      {% set intro = entry.process.nth(1) %}
      <div class="process__title">
        <h3>{{ intro.processTitle }}</h3>
        <div class="process__inner">
          <p>{{ intro.processInformation }}</p>
        </div>
      </div>
    {% endif %}
  </div>

  <section class="panel">
    <div class="products__categories">
      <a class="products__categories__item quiz__field" href="{{siteUrl}}/quiz"><p class="quiz__categories__text">By Field Type</p></a>
      <a class="products__categories__item quiz__symptom" href="#"><p class="quiz__categories__text">Sypmptom Checker</p></a>
      <a class="products__categories__item quiz__search" href="#"><p class="quiz__categories__text">Search</p></a>
    </div>
  </section>
</div>

<div id="tab-2" class="tab-content">
  <h1>Which solution is right for you?</h1>
  <p>
    Take our quiz to discover which product will help you to get the most out of your DuraEdge field
  </p>
  <a href="#">START NOW</a>

  <form action="{{ url('our_products/results') }}">
      <div class="select-style">
        <h6>New or Existing:</h6>
      <select name="querySlug3">
        {% for category in craft.categories.group('newOrExisting') %}
        <option value="{{category.slug}}">{{category.title}}</option>
        {% endfor %}
      </select>
    </div>

    <h6>Maintanence Level:</h6>
        <select name="querySlug2">
          {% for category in craft.categories.group('maintenanceLevel') %}
          <option value="{{category.slug}}">{{category.title}}</option>
          {% endfor %}
        </select>
    <h6>Water Access:</h6>
        <select name="querySlug">
            {% for category in craft.categories.group('waterAccess') %}
            <option value="{{category.slug}}">{{category.title}}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Go">
  </form>


  <!-- Forward declaration of problemQuery so we can dynamically assign values to the checkboxes !-->
  {% set problemQuery = craft.request.getParam('ourProducts') %}

  <form action="{{ url('our_products/problemResults.html') }}">
      {% for category in craft.categories.group('problemArea') %}
            <label><input type="checkbox" name="ourProducts[]" value="{{ category.slug }}" {{ category.slug in problemQuery ? 'checked' }}> {{category.title}}</label>
      {% endfor %}
      <button type="submit">Search</button>
  </form>


  <!-- move fields !-->


  <h1>Find the Solution to a Problem</h1>

  <form action="{{ url('our_products/results-text.html') }}">
      <input type="text" name="searchQuery" />
      <input type="submit" value="Go">
  </form>

  <h3>Why Engineered Soil?</h3>
  <video></video>

  <a href"#">Take the next step</a>

  <h1>Browse our products <a href="#">here</a></h1>

  {% for category in craft.categories.group('productType').order('title') %}
    {% if category.title | length %}
        <a href="#"><h3>{{category.title}}</h3></a>
    {% endif %}
  {% endfor %}



  {% for category in craft.categories.group('productType') %}
    {% set entries = craft.entries.section('ourProducts').relatedTo(category) %}
    <h1>{{category.title}}</h1>
    <p>{{category.body}}</p>
      {% for entry in entries %}
    <a href="{{entry.url}}"><h4>{{entry.title}}</h4></a>
    {% endfor %}
  {% endfor %}
</div>

{% endblock %}
