{% extends "_full" %}
{% block subcontent %}

{% set waterCategories = craft.categories.group('waterAccess') %}
{% set maintenanceCategories = craft.categories.group('waterAccess') %}
{% set categories = craft.categories.group('waterAccess') %}
{#
text
image
text
button



matrix - image, img headline, text

headline w texj

// matrix - image, img headline, text


CTA - matrix - image, img headline, text, button


#}


<div class="products__top">
  <h1 class="products__header">Our Products</h1>
  <ul class="tabs products__ul">
    <li class="tab-link current-link" data-tab="tab-1">Explore Products</li>
    <li class="tab-link" data-tab="tab-2" class="products__link">Browse All</li>
  </ul>
</div>

<div id="tab-1" class="tab-content current">
  {% if entry.process.nth(0)|length %}
    {% set intro = entry.process.nth(0) %}
    <div class="center">
      <h3>{{ intro.processTitle }}</h3>
        <p>{{ intro.processInformation }}</p>
    </div>
  {% endif %}
  <div class="diamond__container">
    <h1>Classify Your Field</h1>
    <div class="diamond__spacer"></div>
    {% include '_includes/diamond.html' %}
  </div>


  {% if entry.process.nth(1)|length %}
    {% set intro = entry.process.nth(1) %}
      <div class="center">
        <h3>{{ intro.processTitle }}</h3>
        <p>{{ intro.processInformation }}</p>
      </div>
  {% endif %}

  <div class="products__subnav">
    <ul class="tabs-2 products__subnav__list">
      <li class="tab-link current-nav" data-tab="1">New Construction</li>
      <li class="tab-link" data-tab="2">Existing/Full Renovation</li>
      <li class="tab-link" data-tab="3">Existing/Amend Field</li>
    </ul>
  </div>


  {% for block in entry.constructionMatrix %}
  <div id="tab-{{loop.index}}" class="tab-block">
    {% if block.type == "image" %}
      {% for image in block.iamge %}
        <img src="{{image.url}}" alt="{{image.name}}"></img>
      {% endfor %}
    {% elseif block.type == "constructionTitle" %}
      {{block.constructionTitle}}
    {% elseif block.type == "information" %}
      {{block.information}}
    {% endif %}
  </div>
  {% endfor %}



  {% if entry.process.nth(2)|length %}
    {% set intro = entry.process.nth(2) %}
      <div class="center">
        <h3>{{ intro.processTitle }}</h3>
        <p>{{ intro.processInformation }}</p>
      </div>
  {% endif %}



  {% include '_includes/_pageContent.html' %}

<section class="cta__panel">
  <div class="quiz__cta">
    {% for block in entry.ctaMatrix %}
      {% if block.type == "information" %}
          <div class="quiz__cta__inner">
          <h1>{{block.heading}}</h1>
          <div class="quiz__cta__heading">
            <p>{{block.body}}</p>
      {% elseif block.type == "link" %}
          <a href="{{block.linkUrl}}"> {{block.linkTitle}} </a>
        </div>
      {% elseif block.type == "image" %}
        {% set image = block.backgroundImage.first() %}
          {% if image %}
            <img class="home__body" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
          {% endif %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
  <div>

</div>

<div id="tab-2" class="tab-content">

  <div class="browse__cats__top">
    {% for category in craft.categories.group('productType').order('title') %}
      {% if category.title | length %}
          <a class="cats__top__item" href="#{{category.slug}}">{{category.title}}</a>
      {% endif %}
    {% endfor %}
  </div>


  {% for category in craft.categories.group('productType').order('title') %}
    {% set entries = craft.entries.section('ourProducts').relatedTo(category) %}
    <div id="{{category.slug}}" class="product__category">
      <h3>{{category.title}}</h3>
      <div class="cats__bottom__body">{{category.body}}</div>
      <div class="product__category__div">
            {% for entry in entries %}

                {% if entry.baseballCard | length %}
                <a href="{{entry.url}}">
                  <h5 class="baseball__card__title">{{entry.title}}</h5>
                  {% for image in entry.baseballCard.limit(1) %}
                    <img class="baseball__card" src="{{image.url}}" alt="{{image.title}}"></a>
                  {% endfor %}
                {% else %}
                  <a href="{{entry.url}}"><h5 class="baseball__card__title">{{entry.title}}</h5></a>
            {% endif %}
        {% endfor %}
      </div>
        {% include '_includes/diamond.html' %}
      </div>
  {% endfor %}


  {% if entry.process.nth(2)|length %}
    {% set intro = entry.process.nth(2) %}
    <div class="process__title">
      <h3>{{ intro.processTitle }}</h3>
      <div class="products__equipment">
        <p>{{ intro.processInformation }}</p>
      </div>
    </div>
  {% endif %}
  <a class="button__blue margin__left" href="#">ABI Sports Turf</a>
</div>

{% endblock %}
