{% extends "_layout" %}
{% block content %}

{% set waterCategories = craft.categories.group('waterAccess') %}
{% set maintenanceCategories = craft.categories.group('waterAccess') %}
{% set categories = craft.categories.group('waterAccess') %}





<br>
<br>
<br>
<a href="#">Explore Products</a>
<a href="#">Browse All</a>

<div class = "owl-carousel brand-logo-grid">
  {% set cols = 1 %}
{% for category in craft.categories.group('productType').order('title') %}
  {% if category.title | length %}
      <a href="{{category.url}}"><h3>{{category.title}}</h3></a>
  {% endif %}
{% endfor %}

<h1>Which solution is right for you?</h1>
<p>
  Take our quiz to discover which product will help you to get the most out of your DuraEdge field
</p>
<a href="#">START NOW</a>

<form action="{{ url('results') }}">
    <div class="select-style">
      <h6>New or Existing:</h6>
    <select name="querySlug3">
      {% for category in craft.categories.group('newOrExisting') %}
      <option value="{{category.slug}}">{{category.title}}</option>
      {% endfor %}
    </select>
  </div>

  <h6>Maintanence Level:</h6>
      <select name="querySlug2">
        {% for category in craft.categories.group('maintenanceLevel') %}
        <option value="{{category.slug}}">{{category.title}}</option>
        {% endfor %}
      </select>
  <h6>Water Access:</h6>
      <select name="querySlug">
          {% for category in craft.categories.group('waterAccess') %}
          <option value="{{category.slug}}">{{category.title}}</option>
          {% endfor %}
      </select>

      <input type="submit" value="Go">
</form>

<form action="{{url('problemResults')}}">
  <!-- This is needed so that an empty value can be submitted if no checkboxes are checked !-->
    <select name"querySlug4">
        {% for category in craft.categories.group('problemArea') %}
            <input type="checkbox" value="{{category.slug}}">{{category.title}}</option>
        {% endfor %}
      </select>
    <input type="submit" value="Go">
</form>


<h1>Process</h1>
{% for entry in entry.process %}
  <h1>{{entry.processTitle}}</h1>
  <p>{{entry.processInformation}}</p>
{% endfor %}
<!-- move fields !-->


<h1>Find the Solution to a Problem</h1>

<form action="{{ url('results-text.html') }}">
    <input type="text" name="query" />
    <input type="submit" value="Go">
</form>

<h3>Why Engineered Soil?</h3>
<video></video>

<a href"#">Take the next step</a>

<h1>Browse our products <a href="our_products">Here</a></h1>

<h1>SOIL</h1>

{% endblock %}
