{% extends "_split" %}

{% block subcontent %}
  <h3>{{ entry.title }}</h3>
  {{ entry.header }}
  {{ entry.duraedgeadvantage }}
  {{ entry.body }}


<h2>DuraEdge in the News</h2>
{% for entry in craft.entries.section('news').limit(3) %}
  <a href="{{entry.url}}">{{ entry.title }}</a>
  <p>{{ entry.teaser }}</p>
{% endfor %}


<h2>Staff</h2>
{% set staffCat = craft.categories.group('staff') %}
{% for entry in craft.entries.section('staff').relatedto('staffCat.executive') %}
  {% if entry | length %}
    {% for asset in entry.staffPhoto %}
      <img src = '{{ asset.url }}'</img>
    {% endfor %}
    <h4>{{ entry.title }}</h4>
    <p>{{ entry.staffPosition }}</p>
    <p>{{ entry.email }}</p>
    <p>{{ entry.phoneNumber }}</p>
  {% endif %}
{% endfor %}



<h1>Upcoming Events: </h1>
{% set events = craft.entries.section('events').order('eventDate asc') %}
<ul>
  {% for entry in events.limit(4) if entry.eventDate > now %}
    <li>
      <a href="{{entry.url}}">{{entry.title}}</a>
      {{ entry.header }}
    </li>
  {% endfor %}
</ul>

{#
{% include '_includes/eventMap.html' %}
#}

{% endblock %}
