{% extends "_layout" %}
{% block content %}
<main role="main">
  {% for asset in entry.image %}
    {% if asset | length %}
  		<img src="{{asset.url}}" alt="{{asset.title}}" />
      {% endif %}
  {% endfor %}


  <h1>{{entry.title}}</h1>
  <p>
    {{entry.body}}
  </p>
  <a href="become-a-certified-installer">Become a Certified Installer</a>
  <a href="field-assurance-program">Field Assurance Program</a>

{% for file in entry.files %}
  <a href="{{file.url}}">{{file.title}}</a>
{% endfor %}

{% include '_includes/_pageContent.html' %}

</main>

{% endblock %}
