{% extends "_split" %}

{% block subcontent %}

<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

<h1 class="reduce__space__bottom">{{entry.title}}</h1>
<div class="contact__heading">
  <p><a class="heading__heading__item" href="#locate">Locate Us</a></p>
  <p><a class="heading__heading__item" href="#materials">Request Materials</a></p>
  <p><a class="heading__heading__item" href="#contact">Contact Us</a></p>
</div>

<div class="spacer2"></div>
  <div id="locate" class="diamond__container">
  {% include '_includes/diamond.html' %}
  <h3>Locate Us</h3>
  <div class="contact__map__heading">
    <a class="map__heading tab-link current-tab" data-tab="tab-1" href="#">Map View</a>
    <a class="map__heading tab-link" data-tab="tab-2" href="#">Search by Zipcode</a>
    <a class="map__heading tab-link" data-tab="tab-3" href="#">Search by Name</a>
  </div>
  <div class="contact__map">
  </div>
  <form action="/contact-duraedge/" method="get">
    <input type="text" name="near" />
    <input class="button__blue" type="submit" value="Submit" />
  </form>

  <div id="tab-1" class="tab-content current">
    {% include '_includes/_fieldMap.html' %}
  </div>

  <div id="tab-2" class="tab-content">
    {% include '_includes/_distributorMap.html' %}
  </div>

  <div id="tab-2" class="tab-content">
    {% include '_includes/_distribAndFieldMap.html' %}
  </div>

  {% include '_includes/_nearbyEvents.html' %}

</div>



{% include '_includes/diamond.html' %}

<div class="spacer2"></div>
<div id="materials" class="diamond__container">
{% include '_includes/diamond.html' %}
<h3>Download Marketing Materials:</h3>
{% for block in entry.marketingMaterials %}
  <h4>{{block.materialName}}</h4>
    {% for image in block.file %}
      <a class="button__blue" href="{{image.getUrl()}}">Request</a>
    {% endfor %}
{% endfor %}
</div>


<div class="spacer2"></div>
<div id="contact" class="diamond__container">
  {% include '_includes/diamond.html' %}
  <h3>Contact Us</h3>
  <div class="contact__bottom__div">
    <div class="contact__bottom__left">
      {% for logo in entry.logoLarge %}
        <img src="{{logo.url}}" alt="{{logo.title}}"/>
      {% endfor %}
      <p>Follow us on Social Media</p>
      <a class="button__blue" href="#">View Staff Directory</a>
    </div>

    {% macro errorList(errors) %}
        {% if errors %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endmacro %}

    {% from _self import errorList %}


    <form method="post" action="" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="contactForm/sendMessage">
        <input type="hidden" name="redirect" value="contact/thanks">

        <input class="contact__form__text" placeholder="Your Name" id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
        <input class="contact__form__text" placeholder="Phone Number" id="fromPhone" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
        <input class="contact__form__text" placeholder="Email Address" id="fromEmail" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
        <input class="contact__form__text" placeholder="Organization"id="fromOrganization" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
        <input class="contact__form__text" placeholder="Corporation Address"id="fromAddress" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
        <input class="contact__form__text" placeholder="How did you hear about us?"id="fromWho" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
        <textarea class="contact__form__text" placeholder="Message"rows="10" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
        {{ message is defined and message ? errorList(message.getErrors('message')) }}
        <input type="submit" value="Send">
        {# change value to thank you page, or redirect back to original site #}
        <input type="hidden" name="redirect" value="contact-duraedge/thanks?from={fromName}">

    </form>

  </div>
</div>




<br />
<br />









{% endblock %}
