
{% extends "_split" %}


{% block subcontent %}

<p>
  {{entry.body}}
</p>

<h1>Find a distributor: </h1>
<ul>
  <li>
    <h4>Zip Code: </h4> <input />
  <a href="#">Search</a>
</li>
</ul>

<!-- After Search Display below !-->
<ul>
  {% for entry in craft.entries.section('findADistributor') %}
<li>
  <h4>{{entry.title}}</h4>
  <h4>{{entry.email}}</h4>
  <h4>{{entry.phoneNumber}}</h4>

</li>
  {% endfor %}
</ul>

{% include '_includes/distributorMap.html' %}

<h3>Download Marketing Materials:</h3>

{% for block in entry.marketingMaterials %}
  <h4>{{block.materialName}}</h4>
    {% for image in block.file %}
      <a href="{{image.getUrl()}}">D</a>
    {% endfor %}
{% endfor %}


<h1>Questions? Contact Us: </h1>
<a href="about-duraedge"> Link to staff directory</a>
<form>
<ul>
  <li>
    <h4>Name</h4><input />
  </li>
  <li>
    <h4>Email Address</h4><input />
  </li>
  <li>
    <h4>Phone Number</h4><input />
  </li>
<li>
  <h4>Organization</h4><input />
</li>
<li>
  <h4>Company Address, City, State</h4> <input />
</li>
<li>
  <h4>How did you hear about DuraEdge? (Optional)</h4> <input />
</li>

  <li>
    <h4>Message</h4><input />
  </li>
</ul>
</form>
<a href="#">Submit</a>

{% include '_includes/map.html' %}


<br />
<br />


<h3>Reps near me: </h3><input />
<a href="#">Find</a>

<ul>
{% for entry in craft.entries.section('currentCustomers') %}
<li>
  <h4>{{entry.title}}</h4>

  <h4>{{entry.email}}</h4>
  <h4>{{entry.phoneNumber}}</h4>
</li>
{% endfor %}
</ul>


{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<form method="post" action="" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="contactForm/sendMessage">
    <input type="hidden" name="redirect" value="contact/thanks">

    <h3><label for="fromName">Your Name</label></h3>
    <input id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

    <h3><label for="fromEmail">Your Email</label></h3>
    <input id="fromEmail" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

    <h3><label for="subject">Subject</label></h3>
    <input id="subject" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
    {{ message is defined and message ? errorList(message.getErrors('subject')) }}

    <h3><label for="message">Message</label></h3>
    <textarea rows="10" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
    {{ message is defined and message ? errorList(message.getErrors('message')) }}

    <input type="submit" value="Send">

    {# change value to thank you page, or redirect back to original site #}
    <input type="hidden" name="redirect" value="contact-duraedge/thanks?from={fromName}">

</form>


{% endblock %}
