html {
  height: 100%;
}
body {
  font-family: $serif;
}
main {
  @media #{$medium} {
    margin-left: 15%;
  }
  @media #{$large} {
    margin-left: 12%;
  }
  padding-top: 0;
}
 h1 {
   font-size: 4em;
   text-align: center;
 }
 h2{
   font-size: 3em;
 }
 h3 {
   font-size: 2em;
   font-weight: 800;
   font-family: $sans-serif;
   margin: 0;
 }
 .margin__center {
   margin-left: auto;
   margin-right: auto;
 }
.button {
  text-decoration: none;
  display: block;
  width: 150px;
  color: white;
  background-color: $red;
  text-align: center;
  border-radius: 10px;
  padding:8px;
  margin-bottom: 5px;
  &:hover {
    text-decoration: underline;
  }
}

.button__blue {
  text-decoration: none;
  display: block;
  width: 250px;
  color: white;
  background-color: $lightBlue;
  text-align: center;
  border-radius: 10px;
  padding:8px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
