html {
  height: 100%;
}
body {
  font-family: $serif;
}
main {
  @media #{$medium} {
    margin-left: 15%;
  }
  @media #{$large} {
    margin-left: 12%;
  }
  padding-top: 0;
}
 h1 {
   font-size: 4em;
   text-align: center;
 }
 h2{
   font-size: 3em;
   font-weight: 100;
 }
 h3 {
   font-size: 2em;
   font-weight: 500;
   font-family: $sans-serif;
   margin: 0;
   color: $red;
 }
 h4 {
   font-size: 2em;
   font-weight: 500;
   font-family: $sans-serif;
   margin: 0;
 }
 h5 {
   font-size: 1em;
 }
 .diamond__container {
   position: relative;
 }
 .spacer1 {
   margin-top: 1em;
 }
 .spacer2 {
   margin-top: 2em;
 }
 .diamond__spacer {
   padding-top: .5em;
 }
 .left {
  left:0;
 }
 .text__center {
   text-align: center;
 }
.reduce__space__bottom {
  margin-bottom: 0;
}
 .margin__center {
   margin-left: auto;
   margin-right: auto;
 }
 .margin__left {
   margin-left: 2em;
 }
.button {
  text-decoration: none;
  display: block;
  width: 150px;
  color: white;
  background-color: $red;
  text-align: center;
  border-radius: 10px;
  padding:8px;
  margin-bottom: 5px;
  &:hover {
    text-decoration: underline;
  }
}

.button__blue {
  text-decoration: none;
  display: block;
  color: white;
  background-color: $lightBlue;
  text-align: center;
  border-radius: 10px;
  padding:8px;
  margin-bottom: 5px;
}
.button__center {
  margin-left: auto;
  margin-right: auto;
}
