html {
  height: 100%;
}
body {
  font-family: $serif;
}
main {
  @media #{$medium} {
    margin-left: 15%;
  }
  @media #{$large} {
    margin-left: 12%;
  }
  padding-top: 0;
}
 h1 {
   font-size: 4em;
 }
 h2{
   font-size: 3em;
 }
 h3 {
   font-size: 2em;
   font-weight: 800;
   font-family: $sans-serif;
 }
