footer {
  background-color: $lightGray;
  text-align: center;
  position: relative;
  padding: 1.5em;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: $sans-serif;
  @media #{$medium} {
    margin-left: 15%;
  }
  @media #{$large} {
    margin-left: 12%;
  }
}

.footer__top {
  content:"";
  display: block;
  width: 80%;
  height: 1px;
  top: 0px;
  background-color: $orange;
  text-align: center;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}
.footer__top--short {
  width: 30%;
}

.footer__top__diamond {
  width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: $orange;
	position: relative;
  display: inline-block;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  margin-top: -29px;
  &:after {
    content: '';
  	position: absolute;
  	left: -15px;
  	top: 15px;
  	width: 0;
  	height: 0;
  	border:15px solid transparent;
  	border-top-color: $orange;
  }
}


.footer__logo__img {
  max-width: 40%;
}
.footer__address {
  font-size: 1em;
  margin: .75em;
  font-style: normal;
}
.address__first, .address__second {
  margin: 0;
}
.footer__contact {
  //text-align: center;
}
.footer__contact__list {
  list-style-type: none;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 80%;
  overflow: hidden;
}
.contact__list__title {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
.contact__list__item {
  font-weight: bold;
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.footer__social {

}
.footer__social__list {
  list-style-type: none;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 80%;
  overflow: hidden;
  a {
    color: black;
  }
}
.social__list__name {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
.social__list__link {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.social__list__link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footer__copyright__text{
  margin-top: 3em;
  font-size: .8em;
}


@media #{$medium} {
  .footer__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
  }
  .footer__social {
    order: 1;
    flex-grow: 1;
    flex-basis: 0;
  }
  .footer__contact {
    order: 3;
    flex-grow: 1;
    flex-basis: 0;
  }
  .footer__logo {
    order: 2;
    flex-grow: 1;
    flex-basis: 0;
  }
}
