footer {
  background-color: $lightGray;
  text-align: center;
  position: relative;
  padding: 1.5em;
  @media only screen and (min-width: 750px) {
    margin-left: 20%;
  }
}
footer::before {
  content:"";
  display: inline-block;
  width: 20%;
  height: 2px;
  position: absolute;
  top: -1px;
  background-color: $green;
  text-align: center;
}
.footer__logo {
  
}
.footer__logo__img {
  max-width: 40%;
}
.footer__address {
  font-size: 1.75em;
  margin: .75em;
}
.address__first, .address__second {
  margin: 0;
}
.footer__contact {
  //text-align: center;
}
.footer__contact__list {
  list-style-type: none;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 80%;
  overflow: hidden;
}
.contact__list__title {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
.contact__list__item {
  font-weight: bold;
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.footer__social {

}
.footer__social__list {
  list-style-type: none;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 80%;
  overflow: hidden;
}
.social__list__name {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
.social__list__link {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.social__list__link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footer__copyright__text{
  margin: 0;
}


@media #{$medium} {
  .footer__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  .footer__social {
    order: 1;
  }
  .footer__contact {
    order: 3;
  }
  .footer__logo {
    order: 2;
  }
}
