footer {
  background-image: url('../img/ui/footer-background.png');
  background-size: 100%;
  text-align: center;
  position: relative;
  padding: 1.5em;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  font-family: $sans-serif;
}

.footer__top {
  content:"";
  display: block;
  width: 80%;
  height: 1px;
  top: 0px;
  background-color: $orange;
  text-align: center;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.footer__top--short {
  width: 30%;
}

.footer__top__diamond {
  width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: $orange;
	position: relative;
  display: inline-block;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  margin-top: -29px;
  &:after {
    content: '';
  	position: absolute;
  	left: -15px;
  	top: 15px;
  	width: 0;
  	height: 0;
  	border:15px solid transparent;
  	border-top-color: $orange;
  }
}


.footer__logo__img {
  max-width: 40%;
}
.footer__address {
  font-size: 1em;
  margin: .75em;
  font-style: normal;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.address {
  margin: 0;
}
.footer__contact {
  //text-align: center;
}
.footer__contact__list {
  list-style-type: none;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 80%;
  overflow: hidden;
}
.footer__social {

}
.footer__social__list {
  list-style-type: none;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 80%;
  overflow: hidden;
  a {
    color: black;
  }
}
.social__list__name {
  width: 50%;
  padding: 0;
  margin: 0;
}
.social__list__link {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.social__list__link a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.footer__copyright__text{
  margin-top: 3em;
  font-size: .8em;
}

/* social media */
.social-media__icons {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  font-weight: bold;
  margin-left: 40%;
}
.social-media__icons a {
  text-decoration: none;
  color: white;
}
.social-media-icon{
  width: 50px;
}
.social-media__icon {
  background-image: url('../img/ui/web.svg');
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  // Repeat the following as many times as needed for each social network.  No commas needed//
  &.facebook {
    background-image: url('../img/ui/facebook.svg');
  }
  &.twitter {
    background-image: url('../img/ui/twitter.svg');
  }
  &.instagram {
    background-image: url('../img/ui/instagram.svg');
  }
  &.youtube {
    background-image: url('../img/ui/youtube.svg');
  }
   // End repeat //
}
.contact__list__item {
  background-image: url('../img/ui/web.svg');
  background-repeat: no-repeat;
  height: 50px;
  font-weight: bold;
  margin-left: 2em;

  &.Hours {
    background-image: url('../img/ui/phone-icon-white.png')
  }
  &.Call {
    background-image: url('../img/ui/phone-icon-white.png')
  }
  &.Fax {
    background-image: url('../img/ui/fax-icon-white.png')
  }
}

@media #{$small} {
  .social-media__icons {
    margin-left: 4em;
  }
  .social-media__icon {
    text-indent: 50%
  }
}
@media #{$medium} {
  .footer__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
  }
  .footer__social {
    order: 1;
    flex-grow: 1;
    flex-basis: 0;
  }
  .footer__contact {
    order: 3;
    flex-grow: 1;
    flex-basis: 0;
  }
  .footer__logo {
    order: 2;
    flex-grow: 1;
    flex-basis: 0;
  }

}
@media #{$large} {
  .social-media__icons {
    margin-left: 40%
  }
  .social-media__icon {
    text-indent: 25%;
  }
}
