header {
  background-color: $green;
  color: white;
  padding: 2em;
  padding-bottom: 0;
}
.header__logo__img {
  max-width: 40%;
}
.header__logo {
  margin-bottom: 2em;
  display: inline-block;
  width: 100%;
}
header h1 {
  margin: 0;
}
.nav__list__baseball {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header__nav__list{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: $sans-serif;
  text-align: center;
}
.nav__list__item {
  font-size: .75em;
  display: flex;
}
.nav__list__item a {
  color: white;
  text-decoration: none;
}
.header__nav__sublist {
  display: none;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.nav__sublist__item {

}
@media #{$medium} {
  header {
    background-color: white;
    margin-left: 12%;
    display: flex;
  }
  .header__nav {
    width: 12%;
    height: 100%;
    background-color: $green;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    &:after {
      content: "";
      background-image: url(../img/ui/texture.jpg);
      opacity: .05;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .header__logo {
    width: 200px;
    margin-bottom: 0;
  }
  .header__logo__img {
    max-width: inherit;
  }
  .header__nav__list {
    flex-direction: column;
    height: 30%;
    margin-top: 150px;
    margin-left: 0;
    z-index: 1;
    position: relative;
  }
  .nav__list__item {
    display: block;
    padding: 1em 2em;
    height: 10%;
  }
  .header__secondnav {
    width: 100%;
    margin-left: 2em;
  }
  .header__nav__sublist {
    display: flex;
    justify-content: space-around;
    margin:0;
  }
  .nav__sublist__item a {
    color: $orange;
    text-decoration: none;
  }
}
