header {
  background-color: $green;
  color: white;
  text-align: center;
  z-index: 100;
}
.header__logo__img {
  max-width: 30%;
}
.header__logo {
  margin-bottom: 2em;
  display: inline-block;
  width: 100%;
}
header h1 {
  margin: 0;
}
.nav__list__baseball {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header__nav__list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: $sans-serif;
  text-align: center;
}
.nav__list__item {
  font-size: .75em;
  display: flex;
}


.nav__list__link {
  background-repeat: no-repeat;
  background-position: top center;
  padding: 3.5em .25em 0 .25em;
  background-size:30px auto;
}
.advantage {
  background-image: url(../img/ui/baseballwhite.svg);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 3.5em .25em 0 .25em;
  background-size:30px auto;
}
.products {
  background-image: url(../img/ui/carddeckwhite.svg);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 3.5em .25em 0 .25em;
  background-size:30px auto;
}
.fieldMaintenance {
  background-image: url(../img/ui/fieldwhite.svg);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 3.5em .25em 0 .25em;
  background-size:30px auto;
}
.contactDuraedge {
  background-image: url(../img/ui/speakerphonewhite.svg);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 3.5em .25em 0 .25em;
  background-size:30px auto;
}

.nav__list__item a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.header__nav__sublist {
  display: none;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.nav__sublist__item:last-child a {
  border: 1px solid $lightBlue;
  border-radius: 6px;
  transition: .3s all ease-in-out;
  &:hover {
      background-color: $lightBlue;
      color: white;
  }
}

.nav__sublist__item a {
  padding: .5em;
}
@media #{$medium} {
  header {
    background-color: white;
    display: flex;
    background-color: $lightGray;
    position: relative;
  }
  .header__nav {
    width: 100%;
    background-color: $green;
    overflow: auto;
    left: 0;
    top: 0;
  }
  .header__logo {
    width: 130px;
    margin-bottom: 0;
    margin-top: 30px;
    position: absolute;
    left:25%;

  }
  .header__logo__img {
    max-width: inherit;
  }
  .header__nav__list {
    margin-left: 50%;
    width:50%;
    padding-right: 3em;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  .nav__list__item {
    display: block;
    padding: 1.5em .5em;
    font-size: 105%;
    border-bottom: 1px solid darken($green,5%);
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: $darkBlue;
    }
  }
  .nav__list__link {
    display: block;
    padding-top: 2.5em;
  }
  .header__secondnav {
    width: 50%;
    height: 25%;
    margin-left: 50%;
    right: 0;
    margin-top: 1em;
    padding-right: 3em;
  }
  .header__wrapper {
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  .header__nav__sublist {
    display: flex;
    justify-content: space-around;
    margin:0;
    & a {
      font-size: .75em;
    }
  }
  .nav__sublist__item a {
    color: $lightBlue;
    text-decoration: none;
  }
}

@media #{$large} {
  .nav__list__item {
    font-size: 110%;
  }
  .header__wrapper {
    text-align: center;
  }
  .header__secondnav {
    padding-right:1em;
    width: 40%;
    margin-left:60%;
  }
  .header__logo {
    margin-left: 0;
  }
  .nav__sublist__item a {
    font-size: .85em;
  }
}

@media #{intermediate} {
  .nav__list__item {

  }
}
