.panel {
  background-image: url(../img/ui/old-photos-bg.png);
  position: relative;
  margin-left: -2em;
  width: calc(100% + 4em);
}

.advantage__faq {
  background-color: $lightBlue;
  position: relative;
  margin-left: -2em;
  width: calc(100% + 4em);
  overflow: auto;
}
