ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul.tabs li{
    display: inline-block;
    padding: 10px 15px;
}
ul.tabs li.current{
}
.tab-content{
    display: none;
    padding: 15px;
}
.tab-content.current{
    display: inherit;
}

.tab-link {
  font-size: 1.5em;
  color: $lightBlue;
  text-decoration: none;
  font-family: $cursive;
  cursor: pointer;
}

.products__link {
  font-size: 1.5em;
  color: $lightBlue;
  text-decoration: none;
  font-family: $cursive;
}
.current-link {
  text-decoration: none;
  font-size: 3em;
  font-family: $cursive;
  text-decoration: none;
  color: black;
}
.tab__container {
  display: flex;
  flex-direction: column;
}
.current-tab {
  display: block;
}
