.home__block {

}
.home__block__line2 {
  font-family: $cursive;
  font-weight: 25;
}

.home__cta a {
  text-decoration: none;
}
.home__cta {
  font-family: $serif;
  color: white;
  font-size: 1.5em;
  padding-left: 15px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  max-width: 290px;

}
.home__block--top {
  box-shadow: 0;
  height: 500px;
  background-size: cover;
}
.home__block__top {
    left: 3em;
    @media #{$medium} {
      max-width: 100%;
      margin-left: 12%;
    }
}
@media #{$large} {
  .home__block__div {
    bottom: 3.5em;
    left: 3em;
  }
}
@media #{$medium} {
  .home__cust {
    left: 1em;
  }
  .home__block {
    position: relative;
    text-shadow: 1.75px;
  }
  .home__block__div {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1.5em;
    max-width: 80%;
  }

  .home__block__line2 {
    color: white;
    font-size: 2em;
    padding: 0;
    margin: 0;
    max-width: 60%;
  }
  .home__block__line3 {
    color: white;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
  }
  .home__block__line {
    padding: 0;
    margin: 0;
    color: $orange;
    font-size: 1.8em;
  }
}

@media #{$intermediate} {
  .home__block__line2 {
    font-family: $cursive;
    font-weight: 25;
    font-size: 3em;
  }

  .home__block__line {
    font-family: $serif;
    color: $orange;
    font-size: 2.5em;
  }

  .home__block__line3{
    font-family: $serif;
    font-size: 2em;
  }
}
