.owl-item {
  width:100%;
}
.home__block__advantage {
  display: flex;
}
.home__productMap__inner {
  margin-left: 2em;
}
.home__advantage {
  max-width: 40%;
}
.home__productMap {
  max-width: 50%;
  margin-left: 3em;
}
.home__block__line2 {
  font-family: $cursive;
  font-weight: 25;
}
.home__cta a {
  text-decoration: none;
}
.home__cta {
  font-family: $serif;
  color: white;
  font-size: 1.5em;
  padding-left: 15px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  max-width: 290px;

}
.carousel {
  box-shadow: 5px -5px 10px grey;
  z-index: 1;
}
.home__block--top {
  box-shadow: 5px 5px 10px gray;
  height: 500px;
  background-size: cover;

}
.home__block__top {
    left: 3em;
    @media #{$medium} {
      max-width: 100%;
      margin-left: 12%;
    }
}
@media #{$large} {
  .home__block__div {
    bottom: 3.5em;
    left: 3em;
  }
}
@media #{$medium} {
  .home__cust {
    left: 1em;
  }
  .home__block {
    position: relative;
    display: block;
    width: 100%;
  }
  .home__block__div {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1.5em;
  }

  .home__block__line2 {
    color: white;
    font-size: 2em;
    padding: 0;
    margin: 0;
    max-width: 60%;
  }
  .home__block__line3 {
    color: white;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
  }
  .home__block__line {
    padding: 0;
    margin: 0;
    color: $orange;
    font-size: 1.8em;
  }
}

@media #{$intermediate} {
  .home__block__line2 {
    font-family: $cursive;
    font-weight: 25;
    font-size: 4em;
  }

  .home__block__line {
    font-family: $serif;
    color: $orange;
    font-size: 2.5em;
  }

  .home__block__line3{
    font-family: $serif;
    font-size: 2em;
  }
}
