.home__cust__name {
  font-family: $cursive;
  color: white;
  font-size: 3.5em;
}

.home__cust__fieldType {
  font-family: $serif;
  color: $orange;
  font-size: 2em;
}

.home__cust__div {
  margin-bottom: -20px;
}
.home__cust__image {

}
