/* General */
.landing {
  text-align: center;
  @media #{$large} {
    display: flex;
  }
}

.feature__image--landing {
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  @media #{$large} {
    width: 50%;
    height: inherit;
  }
}

.content {
  padding-left: 2em;
  padding-right: 2em;

}

.content--full {
  @media #{$medium} {
    margin-top: 3em;
  }

}

.content--landing {
  @media #{$medium} {
    overflow: hidden;
  }
  @media #{$large} {
    width: 50%;
    overflow: auto;
    max-height: 700px;
  }
}


/* Maintenance Page */
.maintenance__search {
  width: 70%;
  height: 3em;
  padding-left: 1em;
  color: #808080;
  border-color: #808080;
  border-radius: 5px;
}

.maintenance__topic {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.maintenance__faq__body {
  text-align: left;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.maintenance__bottom__faq {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media #{$medium} {
    width: 40%;
  }
}
.maintenance__topic__item {
  width: 50%;
  @media #{$medium} {
      width: 25%;
  }
}
.maintenance__bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media #{$medium} {
    flex-direction: row;
  }
}
.maintenance__bottom__top {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media #{$medium} {
    flex-direction: row;
  }
}
.maintenance__bottom__bottom {
  text-align: center;
  margin: 2em;
}
.maintenance__bottom__content {
  width: 100%;
  @media #{$medium} {
      width: 50%;
  }
}
.maintenance__bottom__subhead {
  width: 60%;
}
.maintenance__bottom__right {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  @media #{$medium} {
    width: 60%;
  }
}
.maintenance__bottom__image {
  width: 100%;
}
.maintenance__topic__div {
  margin-top: 2em;
}

/* Products Landing Page */

.products__process {
  max-width: 65%;
}
.process__inner {
  margin-left: 4em;
}
