/* General */
.landing {
  text-align: center;
  @media #{$large} {
    display: flex;
  }
}

.feature__image--landing {
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  @media #{$large} {
    width: 50%;
    height: inherit;
  }
}

.content {
  padding-left: 2em;
  padding-right: 2em;

}

.content--full {
  @media #{$medium} {
    margin-top: 3em;
  }

}

.content--landing {
  @media #{$medium} {
    overflow: hidden;
  }
  @media #{$large} {
    width: 50%;
    overflow: auto;
    max-height: 700px;
  }
}
/* Matrix Variable Include */
.variable__body__text {
  position: relative;
}
/* DuraEdge Advantage */
.advantage__body {
  max-width: 70%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.variable__body__text {
  max-width: 70%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.advantage__faq {
  background-color: $lightBlue;
  color: white;
}
.faq__list {
  max-width: 80%;
  text-align: left;
  margin-bottom:2.5em;
  margin-top: 2em;
}
.faq__list__ul {
    list-style-type: none;
}
.faq__list__item a {
  color: white;
  text-decoration: none;
}
.faq__list__item {
  border-bottom: 1px $orange;
}
/* Maintenance Page */
.maintenance__search {
  width: 70%;
  height: 3em;
  padding-left: 1em;
  color: #808080;
  border-color: #808080;
  border-radius: 5px;
}

.maintenance__topic {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.maintenance__faq__body {
  text-align: left;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.maintenance__bottom__faq {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media #{$medium} {
    width: 40%;
  }
}
.maintenance__topic__item {
  width: 50%;
  @media #{$medium} {
      width: 25%;
  }
}
.maintenance__bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media #{$medium} {
    flex-direction: row;
  }
}
.maintenance__bottom__top {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media #{$medium} {
    flex-direction: row;
  }
}
.maintenance__bottom__bottom {
  text-align: center;
  margin: 2em;
}
.maintenance__bottom__content {
  width: 100%;
  @media #{$medium} {
      width: 50%;
  }
}
.maintenance__bottom__subhead {
  width: 60%;
}
.maintenance__bottom__right {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  @media #{$medium} {
    width: 60%;
  }
}
.maintenance__bottom__image {
  width: 100%;
}
.maintenance__topic__div {
  margin-top: 2em;
}

/* Products Landing Page */

.products__process {
  max-width: 65%;
}
.process__inner {
  margin-left: 4em;
}
.products__categories {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  text-align:center;
}
.products__categories__item {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.products__pro {
  background-color: $orange;
}
.products__int {
  background-color: $lightBlue;
}
.products__rec {
  background-color: $green;
}
.quiz__field {
  background-color: $brown;
}
.quiz__symptom {
  background-color: $red;
}
.quiz__search {
  background-color: $orange;
}
