.landing {
  text-align: center;
  @media #{$large} {
    display: flex;
  }
}

.feature__image--landing {
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  @media #{$large} {
    width: 50%;
    height: inherit;
  }
}

.content {
  padding-left: 2em;
  padding-right: 2em;

}

.content--full {
  @media #{$medium} {
    margin-top: 3em;
  }

}

.content--landing {
  @media #{$medium} {
    overflow: hidden;
  }
  @media #{$large} {
    width: 50%;
    overflow: auto;
    max-height: 700px;
  }
}

.maintenance__search {
  width: 70%;
  height: 3em;
  padding-left: 1em;
  color: #808080;
  border-color: #808080;
  border-radius: 5px;
}
