@media #{$intermediate} {
  .why__div__left {
    width: 44%;
    left: 0;
    margin-left: 12%;
  }

  .why__div__right {
    width: 43%;
    right: 0;
    overflow: auto;
  }
}

.why__div__left {

}
