{% extends "_layout" %}
{% block content %}

<h1>{{entry.title}}</h1>
{{entry.body}}

<h2>Blog Posts</h2>
{% for entry in craft.entries.section('blogPosts') %}

  <a href="{{ entry.url }}">{{entry.title}}</a>
  <p>{{ entry.body|slice(0, 30)|raw }}</p>

{% endfor %}

<h2>Videos</h2>
{% for entry in craft.entries.section('videos') %}

  <a href="{{entry.url}}">{{entry.title}}</a>
  {{ entry.body|slice(0, 30)|raw }}

{% endfor %}

<h2>FAQ's</h2>
{% for entry in craft.entries.section('FAQs') %}

  <a href="{{entry.url}}">{{entry.title}}</a>
  {{ entry.body|slice(0, 30)|raw }}

{% endfor %}

{% endblock %}
