{#
 # Master Layout template
 # ---------------
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <body>
      {# Begin Required Header Block #}
      {% block header %}
        {% include '_includes/_header.html' %}
      {% endblock %}

      {# Begin Optional Feature Image Block #}
      {% block feature %}
      {% endblock %}

      {# Begin Required Content Block #}
  		{% block content %}
  				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
  				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
  		{% endblock %}

      {# Begin Required Footer Block #}
      {% include '_includes/_footer.html' %}
  </body>
</html>
