{% extends "_layout" %}

{% block feature %}

{% set images = entry.image %}
{% set imageCount = 0 %}

{% for image in images %}
  {% set imageCount = imageCount + 1%}
{% endfor %}
{% set scrollLength = 1500 / imageCount %}

{% for image in entry.image %}




{% endfor %}

<!--
<h2>Scroll length: {{scrollLength}}</h2>
<h2>Image Count: {{imageCount}}</h2>
<!-- Indexing images example !-->
{# <img src="{{images[1].getUrl()}}"> #}
<!-- //////////////////////////// !-->


<script>

(function() {
  var nTimer = setInterval(function() {
    if (window.jQuery) {
    //  var photo = $(".feature__image");
      var div = $("#scrolling_image");
      $(".content").scroll(function() {
          var scroll = $(".content").scrollTop();




          if (scroll > {{scrollLength}}) {
              div.removeClass("image1").addClass("image2");
          }
          {% set secondScroll = scrollLength * 2 %}
          if (scroll > {{secondScroll}}){
            div.removeClass("image2").addClass("image3");
          }
         if (scroll < {{secondScroll}} && scroll > {{scrollLength}}){
              div.removeClass("image3").addClass("image2");
          }

          if (scroll < {{scrollLength}}){
               div.removeClass("image2").addClass("image1");
           }
      });
      clearInterval(nTimer);
    }
  }, 100);
})();


</script>

<main role="main" class="landing">
  <style>
    {% for image in entry.image %}
        .image{{loop.index}} {
          background-image: url({{image.url}});"
        }
      {% endfor %}
  </style>
  <div id="scrolling_image" class="feature__image feature__image--landing image1"></div>
{% endblock %}

{% block content %}
    <section class="content content--landing">
      {% block subcontent %}
        <p>
          You forgot to include sub content.
        </p>
      {% endblock %}
    </section>
  </main>
{% endblock %}
