{% extends "_layout" %}

{% block feature %}

{% set imageCount = 0 %}
{% set imageOne = 1 %}
{% set imageTwo = 2 %}
{% set imageThree = 3 %}

<script>

(function() {
  var nTimer = setInterval(function() {
    if (window.jQuery) {
       imageswitch();
      clearInterval(nTimer);
    }
  }, 100);
})();

$function imageswitch() {
    var photo = $(".feature__image");
    var div = $("#scrollingImage");
    $("content").scroll(function() {
        var scroll = $("content").scrollTop();
        if (scroll >= 200) {
            photo.removeClass("image1").addClass("image2");
        }
        if (scroll >= 400){
          div.removeClass('image{{imageTwo}}').addClass("image{{imageThree}}");
        }

        else {
            div.removeClass("image{{imageThree}}").addClass('image{{imageTwo}}');
        }
    });
});
</script>

<main role="main" class="landing">
  <style>
    {% for image in entry.image %}
        {% set imageCount = loop.index %}
        .image{{loop.index}} {
          background-image: url({{image.url}});"
        }
      {% endfor %}
  </style>
  <div id="scrollingImage" class="feature__image feature__image--landing image1"></div>
{% endblock %}

{% block content %}
    <section class="content content--landing">
      {% block subcontent %}
        <p>
          You forgot to include sub content.
        </p>
      {% endblock %}
    </section>
  </main>
{% endblock %}
