{% extends "_layout" %}


{% block feature %}


<section class="feature__image feature__image--home">
{% for asset in entry.featureImage %}
	<div class="home__block home__block--top" style="background-image:url({{asset.url}})">
{% endfor %}
	<div class="home__block__div home__block__top">
		<h2 class="home__block__line2">{{entry.headline}}</h2>
		<!--<h2>{{entry.subheadline}}</h2>-->
		<a class="home__cta" href="#"><h4>{{entry.callToAction}}</h4></a>
	</div>
</div>
</section>
{% endblock %}


{% block content %}
<main role="main" class="full">
	<section class="content content--full">
		<div class="home__block__advantage">
			<div class="home__advantage">
				<h3>{{ entry.subheadline }}</h3>
				<p>{{ entry.body }}</p>
				<a href="#">Why DuraEdge?</a>
			</div>
			<div class="home__productMap">
				<div class="home__productMap__inner">
					<h3>Our Products</h3>
					<p><b>How can we help?</b> Click on any part of the field you need assistance with.</p>
				</div>
				{% for image in entry.productMap %}
					<img src="{{ image.url }}" alt="product map"/>
				{% endfor %}
			  <!--{% for block in entry.interactiveFieldMap %}

			      <p>{{block.nameOf}}</p>
			      <p>{{block.description}}</p>
			      <a href="{{block.linkTo}}">{{block.nameOf}}</a>

		  	{% endfor %}-->
			</div>
		</div>

	<!-- Feature Image Gallery!-->


	</section>
	<h1>Trending Now</h1>
	<section class="panel">
		{% include '_includes/featured-post.html' %}
	</section>
		<div class="owl-carousel">
			{% for entry in craft.entries.section('currentCustomers').limit(5)%}
			<div class="home__block ">
				<div class="home__block__div home__cust">
					<h2 class="home__block__line2">{{entry.title}}</h2>
					<p class="home__block__line3">{{ entry.location }}</p>
					<h6>{{entry.locationPlug.city}}</h6>
				</div>
				{% for image in entry.featureImage.limit(1) %}
					<img class="home__cust__image" src="{{image.url('carouselLarge')}}" alt="{{image.title}}" />
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}
