{% extends "_layout" %}


{% block feature %}


<section class="feature__image feature__image--home">
{% for asset in entry.image %}
	<div class="home__block home__block--top" style="background-image:url({{asset.url}})">
{% endfor %}
	<div class="home__block__div home__block__top">
		<h2 class="home__block__line2">{{entry.headline}}</h2>
		<!--<h2>{{entry.subheadline}}</h2>-->
		<a class="home__cta" href="#"><h4>{{entry.callToAction}}</h4></a>
	</div>
</div>
</section>
{% endblock %}


{% block content %}
<main role="main" class="full">
	<section class="content content--full">
		{{ entry.body }}

		<h3>Interactive Product Map</h3>
	  {% for block in entry.interactiveFieldMap %}

	      <p>{{block.nameOf}}</p>
	      <p>{{block.description}}</p>
	      <a href="{{block.linkTo}}">{{block.nameOf}}</a>

  {% endfor %}

	<!-- Feature Image Gallery!-->

	<h1>Blog Posts:</h1>
		{% for entry in craft.entries.section('blogPosts').limit(2)%}
			{% if entry.featuredContent == 1 %}
	  			<a href="{{entry.url}}"><h1>{{entry.title}}</h1></a>
	  	{%endif%}
		{%endfor%}

		<h1>Current Customers:</h1>

		{% for entry in craft.entries.section('currentCustomers').limit(5)%}
		<div class="owl-carousel">
		<div class="home__block ">
			<div class="home__block__div home__cust">
				<h2 class="home__block__line2">{{entry.title}}</h2>
				<p class="home__block__line3">{{ entry.location }}</p>
				<h6>{{entry.locationPlug.city}}</h6>
			</div>
			{% for image in entry.image %}
				<img class="home__cust__image" src="{{image.url}}" alt="{{image.title}}" />
			{% endfor %}
		</div>
		</div>
		<!-- need image, field type !-->

		{% endfor %}
	</section>
</main>
{% endblock %}
