{% extends "_layout" %}

{% block content %}
	<h1>{{ entry.title }}</h1>
<h2>{{entry.headerTitle }}</h2>
	{{ entry.body }}



<h3>Interactive Product Map</h3>
  {% for block in entry.interactiveFieldMap %}

      <p>{{block.nameOf}}</p>
      <p>{{block.description}}</p>
      <a href="{{block.linkTo}}">{{block.nameOf}}</a>
  {% endfor %}

<h1>Current Customers:</h1>
{% for entry in craft.entries.section('currentCustomers')%}
<h6>{{entry.title}}</h6>
{%endfor%}


<!-- Feature Image Gallery!-->
{% for entry in craft.entries.section('currentCustomers')%}
  {% for asset in entry.image %}
		  <img src="{{asset.url}}" alt="{{asset.title}}" />
    {% endfor %}
{% endfor %}


{% for asset in entry.image %}
		<img src="{{asset.url}}" alt="{{asset.title}}" />
{% endfor %}

	<h2>Recent News</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
