{% extends "_layout" %}
{% block content %}

<h1>Search Results</h1>

{% set querySlug = craft.request.getParam('querySlug4') %}
{% set category = craft.categories.group('problemArea').slug(querySlug) %}

{% set entries = craft.entries.section('ourProducts').relatedTo(category)%}

{% if entries|length %}

    <p>{{ entries|length }} results:</p>

    <ul>
        {% for entry in entries %}
            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>

        {% endfor %}
    </ul>

{% else %}
  <p>Your search for “{{ querySlug }}” didn’t return any results.</p>
{% endif %}


{% endblock %}
