{% extends "_layout" %}
{% block content %}

{#
{% for entry in craft.entries.section('products') %}

{% if entry.maintenanceLevel == "volunteer" %}
  <h1>Volunteer Maintenance</h1>
  {{entry.title}}
  <p>Maintenance Level: {{entry.maintenanceLevel}} </p>
  <p>Type: {{entry.profLevel}}</p>
{% endif %}

{% if entry.maintenanceLevel == "limited" %}
  <h1>Limited Maintenance</h1>
  {{entry.title}}
  <p>Maintenance Level: {{entry.maintenanceLevel}} </p>
  <p>Type: {{entry.profLevel}}</p>
{% endif %}

{% if entry.maintenanceLevel == "regular" %}
  <h1>Regular Maintenance</h1>
  {{entry.title}}
  <p>Maintenance Level: {{entry.maintenanceLevel}} </p>
  <p>Type: {{entry.profLevel}}</p>
{% endif %}

{% endfor %}  #}


{% set waterCategories = craft.categories.group('waterAccess') %}
{% set maintenanceCategories = craft.categories.group('waterAccess') %}
{% set categories = craft.categories.group('waterAccess') %}

{% for category in waterCategories %}
<h1>{{category.title}}</h1>
<ul>
{% for entry in craft.entries.section('products').relatedTo(category) %}
<li>{{entry.title}}</li>

{% endfor %}
</ul>
{% endfor %}


<form action="{{ url('/results') }}">

  <select name="querySlug3">
    {% for category in craft.categories.group('newOrExisting') %}
    <option value="{{category.slug}}">{{category.title}}</option>
    {% endfor %}
  </select>

    <select name="querySlug2">
      {% for category in craft.categories.group('maintenanceLevel') %}
      <option value="{{category.slug}}">{{category.title}}</option>
      {% endfor %}
    </select>

    <select name="querySlug">
        {% for category in craft.categories.group('waterAccess') %}
        <option value="{{category.slug}}">{{category.title}}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Go">
</form>











{% endblock %}
