{% extends "_layout" %}
{% block content %}

{% set waterCategories = craft.categories.group('waterAccess') %}
{% set maintenanceCategories = craft.categories.group('waterAccess') %}
{% set categories = craft.categories.group('waterAccess') %}





<br>
<br>
<br>
<h1>Find the DuraEdge Product For You</h1>
<form action="{{ url('/results') }}">
  <div class="select-style">
  <select name="querySlug3">
    {% for category in craft.categories.group('newOrExisting') %}
    <option value="{{category.slug}}">{{category.title}}</option>
    {% endfor %}
  </select>
</div>

    <select name="querySlug2">
      {% for category in craft.categories.group('maintenanceLevel') %}
      <option value="{{category.slug}}">{{category.title}}</option>
      {% endfor %}
    </select>

    <select name="querySlug">
        {% for category in craft.categories.group('waterAccess') %}
        <option value="{{category.slug}}">{{category.title}}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Go">
</form>

<h1>Find the Solution to a Problem</h1>

<form action="{{ url('/results-text') }}">
    <input type="text" name="query" />
    <input type="submit" value="Go">
</form>


<h1> Browse our products <a href="#">Here</a></h1>

{% endblock %}
